@import url(./assets/styles/normalize.css);
@import url(./assets/styles/fonts.css);

html {
  --main-color: aquamarine;
  --second-color: rgb(255, 0, 136);
  --third-color: #fbda00;
  --completed-task-color: red;
  --transition-delay: 0.2s;

  font-family: 'Roboto', sans-serif;
}

* {
  transition: background var(--transition-delay),
              fill var(--transition-delay),
              stroke var(--transition-delay),
              color var(--transition-delay);
}

svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

svg * {
  transition-duration: var(--transition-duration);
  transition-property: fill, stroke;
}

button {
  background-color: #fff;
  border: none;
}

#app {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100svh;
  width: max(50%, 600px);

  border-radius: 10px;
  border: 1px solid black;
  padding: 20px;
}

.task-form {
  display: flex;
  width: 100%;
}

.task-form-description {
  border: 1px solid black;
  padding-inline: 20px;
  border-radius: 5px 0 0 5px;
  width: 100%;
}

.task-form-description::placeholder {
  color: gray;
}

.task-form-scope {
  border: none;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-align: center;

  padding: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.task-form-button {
  border: 1px solid black;
  border-radius: 0 5px 5px 0;
}

.task-form-button:hover,
.task-form-button:focus,
.task-form-description:hover,
.task-form-description:focus,
.task-form-scope:hover,
.task-form-scope:focus {
  background-color: var(--main-color);
  outline: none;
}

.task-list {
  width: 100%;
}

.task-item {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
  padding: 10px;
}

.task-item:not(:last-child) {
  border-bottom: 1px solid #000;
}

.task-description {
  grid-column: span 2;
  text-wrap: wrap;
  word-wrap: break-word;
}

.task-scope {
  justify-self: end;
}

.task-scope-life {
  color: #4CAF50;
}

.task-scope-hobby {
  color: #FF5733;
}

.task-scope-work {
  color: #3498DB;
}

.task-scope-study {
  color: #9B59B6;
}

.task-scope-other {
  color: #E74C3C;
}

.task-date {
  font-size: 0.875em;
  color: gray;
}

.task-buttons {
  grid-column: 3 / 4;
  justify-self: end;
}

.task-mark:hover * {
  fill: var(--main-color);
  stroke: var(--main-color);
}

button.task-remove:hover * {
  fill: var(--second-color);
  stroke: var(--second-color);
}

.task-edit:hover * {
  stroke: var(--third-color);
}

.task-completed * {
  color: var(--completed-task-color);
  stroke: var(--completed-task-color);
}

.task-completed .task-remove * {
  fill: var(--completed-task-color);
  stroke: var(--completed-task-color);
}

.task-item::after {
  content: '';
  opacity: 0;
  position: absolute;
  background-color: var(--completed-task-color);
  border-radius: 10px;
  top: 40%;
  width: 100%;
  height: 5px;
}

.task-completed::after {
  opacity: 1;
}

/* .task-completed .task-description {
  text-decoration: line-through;
  font-weight: 700;
} */